<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>{% block title %} {% endblock %}</title>
	{% block css%}

	{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style_base.css')}}">
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <article class="flashes">
    <ul>
    {% for message in messages %}
      <li><p>{{ message }}</p></li>
    {% endfor %}
    </ul>
  </article>
  {% endif %}
{% endwith %}

{% block content %}

{% endblock %}	
</body>
</html>