body{
	  background-color: black;
	  margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.6em;
}

header{
    background-color: #B10101;
}

header form{
  margin-left: 400px;
}

.sesion{
  margin-left: 250px;
}

header a{
  text-decoration: none;
  color: white;
}

header img{
	width: 200px;
  height: 200px;
}

.navigation ul li  {
     margin-left: 3rem;
     display: inline-block;
}

nav{
  background-color: #3498db;
  margin: 10px 10px;
  margin-left: 0px;
}

nav a:hover{
  background-color: red;
  border-radius: 50px;
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.6em;
}

header{
    background-color: #B10101;
}

header form{
  margin-left: 400px;
}

.sesion{
  margin-left: 250px;
}

header a{
  text-decoration: none;
  color: white;
}

header img{
  width: 200px;
  height: 200px;
}

.navigation ul li  {
     margin-left: 3rem;
     display: inline-block;
}

nav{
  background-color: #3498db;
  margin: 10px 10px;
  margin-left: 0px;
}

nav a:hover{
  background-color: red;
  border-radius: 50px;
}



.navigation a{
  text-decoration: none;
  color: white;
}

header input[type="text"]{
  border:0;
  border-radius: 50px;
  background:none;
  border:3px solid #3498db;
  color: white;
  font-size: 20px;
  width: 65px;
  height: 50px;
  outline: none;
  transition: 0.25s;
}

header input[type = "text"]:focus{
 border-color: #FF0000;
 width: 300px;
}


header button[type="submit"],button[type="button"]{
  border:0;
  border-radius: 100px;
  background:none;
  border:3px solid #FF0000;
  font-size: 20px;
  color: white;
  width: 100px;
  height: 50px;
  outline: none;
  transition: 0.25s;
  cursor: pointer;
  margin: auto;
}

header button[type = "submit"]:hover,button[type="button"]:hover{
 background: #FF0000;
}

.diseño table tr td{
  border: 2px solid;
  border-color: white;
}

.diseño{
  color: white;
}


footer{
  background-color: #B10101;
  margin-top: 55%;
}

footer img{
  width: 42px;
  height: 40px;
}

.gmail img{
  height: 30px;
}