{% extends 'base/base.html'%}

{% block title %} login {% endblock %}  
  {% block css%}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style_login.css')}}">
  {% endblock %}
   

  {% block js%}
    
  {% endblock %}


{% block content%}
<form class="box" action="" method="post">
  <h1>Login</h1>
  <input type="text" name="username" id="username" placeholder="Username" required >
  <input type="password" name="password" id="pa" placeholder="Password" required>
  <input type="submit" name="login" value="Login" id="btnSumit">
  <a href="recuperar">Olvido su contraseña?</a><br>
  <a href="registrar">Crear una Cuenta!</a>
</form>   

<script>
  $("#btnSumit").click(function(e){
      var UserVal=$("#username").val();
      var PasswordVal=$("#password").val();
      alert("Bienvenido:"+UserVal)
     e.preventDefault
  })
</script>

{% endblock %}

