{% extends 'base/base.html'%}

{% block title %} admin {% endblock %}  
  {% block css%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style_modificar_game.css')}}">
  {% endblock %}
   

  {% block js%}
    
  {% endblock %}


{% block content%}
<header>
  <table>
    <tr>
      <td>
       <img src="{{url_for('static', filename='img/Logo.png')}}" >  
      </td>
      <td>
      <form method="post">
        <input type="text" name="search" placeholder="search">
        <button type="submit" name="submit" value="search">search</button>
      </form>  
      </td>
      <td>
      <article class="sesion">
      <button type="button"><a href="/">Sing of</a></button>
      </article>
      </td>
    </tr>
  </table>
</header>

<nav class="navigation">
    <ul>
      <li><a href="admin">Catalogo de Videojuegos</a></li>
      <li><a href="biblioteca">Mi Bliblioteca</a></li>
      <li><a href="perfil_admin">Perfil</a></li>
      <li><a href="carga_masiva">Carga Masiva</a></li>
      <li><a href="crud">CRUD de Videojuegos</a></li>
      <li><a href="perfil">Generar Reportes</a></li>
      <li><a href="crear_usuario">Crear Usuario</a></li>
    </ul>
  </nav>

  <article>
  <form class="box" action="" method="post">
  <h1>Create Video Game</h1>
  <input type="text" name="name" placeholder="name" value="{{name}}">
  <input type="text" name="year" placeholder="year" value="{{anio}}">
  <input type="text" name="price" placeholder="price" value="{{precio}}">
  <input type="text" name="category" placeholder="category" value="{{category}}">
  <input type="text" name="url" placeholder="url" value="{{foto}}">
  <input type="text" name="banner" placeholder="banner" value="{{banner}}">
  <input type="text" name="description" placeholder="description" value="{{description}}">
  <input type="submit" name="crear" placeholder="created" value="Modify">
</form>   
</article>

<footer>
  <table>
  <tr>
    <td>
    <img src="{{url_for('static', filename='img/facebook.png')}}">  
    <img src="{{url_for('static', filename='img/instagram.png')}}">
    <img src="{{url_for('static', filename='img/snapchat.png')}}">  
    <img src="{{url_for('static', filename='img/twitter.png')}}"> 
    </td>
  </tr>  
  <tr>
    <td>
      <img src="{{url_for('static', filename='img/whatsapp.png')}}">
      +502 2419-0122
    </td>
  </tr>
  <tr>
    <td class="gmail">
      <a href="https://mail.google.com"><img src="{{url_for('static', filename='img/gmail.png')}}"></a>
      gamemuseum@gmail.com
    </td>
  </tr>
  </table>
</footer>


{% endblock %}