{% extends 'base/base.html'%}

{% block title %} index2 {% endblock %}  
  {% block css%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style_ver_game_index2.css')}}">
  {% endblock %}
   

  {% block js%}
    
  {% endblock %}


{% block content%}
<header>
  <table>
    <tr>
      <td>
       <img src="{{url_for('static', filename='img/Logo.png')}}" >  
      </td>
      <td>
       <article class="sesion">
      <button type="button"><a href="/">Sing of</a></button>
      </article>
      </td>
    </tr>
  </table>
</header>

<nav class="navigation">
    <ul>
      <li><a href="index2">Catalogo de Videojuegos</a></li>
      <li><a href="biblioteca">Mi Bliblioteca</a></li>
      <li><a href="perfil_index2">Perfil</a></li>
    </ul>
  </nav>

<article class="diseño">
  <table>
    <tr>
    <td colspan="5" class="banner"><img src="{{banner}}"></td> 
    </tr>
    <tr>  
    <td  class="nombre"> {{name}} </td> 
    <td class="año">{{anio}}</td>
    <td class="precio">Q{{precio}}</td>
    <td colspan="2">{{category}}</td>
    </tr>
    <tr>
    <td class="foto"><img src="{{foto}}"></td>
    <td colspan="4">{{description}}</td>  
    </tr>
    <tr>
      <td colspan="5">Comentarios</td>
    </tr>
    <tr>
      <td colspan="5" class="Comentarios">
      <form method="post">
      <input type="text" name="commentary" placeholder="commentary" value="{{user}}:">
      <input type="submit" name="submit" value="Add">  
      </form>  
      </td>
     <tr> 
     <td colspan="5" class="lista">
       {% for i in range(0,tamaño) %}
           {% if commentary_id[i]==id_game %}
              {{lista_comentarios[i]}}<hr color=white>
           {% endif %}
       {% endfor %}
     </td>
    </tr>
  </table>
</article>

<footer>
  <table>
  <tr>
    <td>
    <img src="{{url_for('static', filename='img/facebook.png')}}">  
    <img src="{{url_for('static', filename='img/instagram.png')}}">
    <img src="{{url_for('static', filename='img/snapchat.png')}}">  
    <img src="{{url_for('static', filename='img/twitter.png')}}"> 
    </td>
  </tr>  
  <tr>
    <td>
      <img src="{{url_for('static', filename='img/whatsapp.png')}}">
      +502 2419-0122
    </td>
    
  </tr>
  <tr>
    <td class="gmail">
      <a href="https://mail.google.com"><img src="{{url_for('static', filename='img/gmail.png')}}"></a>
      gamemuseum@gmail.com
    </td>
  </tr>
  </table>
</footer>

{% endblock %}